/* Bootstrap styling */
@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/bootstrap/less/responsive.less';
@import 'variables.less';
@import 'bootswatch.less';
@import 'mixins.less';
@import 'zocial.less';

// Sprite icons path
// -------------------------
@iconSpritePath:      "glyphicons-halflings.png";
@iconWhiteSpritePath: "glyphicons-halflings-white.png";

html {
	overflow-y: scroll;
}

body {
	padding-top: 65px;
}

.unstyled {
	margin-left: 0;
	list-style: none;
}

.page-content {
	.makeFluidCol(12);
}
.logged-in .page-content {
	.makeFluidCol(9);
}

.no-href {
	cursor: pointer;
}

.login-modal {
	width: 250px;
	margin-left: -125px;
	left: 50%;

	form {
		margin: 0;
	}

	.social-login {
		.unstyled;
		li a {
			cursor: pointer;
		}
	}
}

/* App Styles */
@import '../app/home/home.less';
@import '../app/user-list/user-list.less';