/* Bootstrap styling */
@import '../../vendor/bootswatch/bower_components/bootstrap/less/bootstrap';
@import '../../vendor/bootswatch/united/bootswatch';
@import '../../vendor/bootswatch/united/variables';

@import 'zocial.less';

html {
	overflow-y: scroll;
}

body {
	padding-top: 65px;
}

.unstyled {
	margin-left: 0;
	list-style: none;
}

.page-content {
	.make-column(12);
}
.logged-in .page-content {
	.make-column(9);
}

.no-href {
	cursor: pointer;
}

.login-modal {
	.modal-dialog {
		width: 250px;
		margin-left: -125px;
		left: 50%;
	}

	form {
		margin: 0;
	}

	.social-login {
		.unstyled;
		padding: 0;
		li a {
			cursor: pointer;
		}
	}

	.alert {
		margin: 17px 0 -17px 0;
	}
}

/* Override to bootstrap for angular-ui-bootstrap */
.modal {
	display: block;
	z-index: 1030;
	position: inherit;
}
.modal-backdrop {
	z-index: 1040;
	.opacity(.80);
}
.modal-dialog {
	z-index: 1050;
	position: fixed;
}

/* App Styles */
@import '../app/home/home.less';
@import '../app/user-list/user-list.less';
@import '../app/game/board/board.less';
