<!DOCTYPE html>
<html ng-controller="ttt.AppCtrl" ng-class="{false: 'logged-in', true: 'anonymous'}[!user.username]">
	<head>
		<title>Tic, Tac, Tango</title>

		<meta property="og:title" content="Tic, Tac, Tango" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://ttt.valencik.com" />
		<meta property="og:description" content="Tic, Tac, Tango.">

		<!-- compiled CSS --><% styles.forEach(function (file) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

		<!-- compiled CSS --><% scripts.forEach(function (file) { %>
		<script type="text/javascript" src="/<%= file %>"></script><% }); %>
	</head>
	<body>
		<div ui-view="header"></div>
		<div class="container">
			<div class="page-content" ui-view="main"></div>
			<div ui-if="!!user.username" class="user-list" ui-view="user-list"></div>
		</div>
	</body>
</html>
